# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Custom Ignores - Extensions
*.user
*.opensdf
*.sdf
*.suo
*.exe
*.ilk
*.pdb
/build-x64/log/*.txt

# Custom Ignores - Folders
/ipch
/samael/intermediate-x64
/samael/GeneratedFiles

# Custom Ignores - Files
