# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Custom Ignores - Extensions
*.user
*.opensdf
*.sdf
*.suo
*.exe
*.ilk
*.pdb

# Custom Ignores - Folders
/build-x64/log
/ipch
/samael/intermediate-x64
/samael/GeneratedFiles

# Custom Ignores - Files
