# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Custom Ignores - Extensions
*.user
*.opensdf
*.sdf
*.suo
*.exe
*.ilk
*.pdb
*.psd
/build-x64/log/*.txt

# Custom Ignores - Folders
/ipch
/samael/intermediate-x64
/samael/GeneratedFiles
/build-x64/data/101_ObjectCategories
/build-x64/data/Annotations

# Custom Ignores - Files
